{% extends "rating/base.html" %}
{% block content%}
<div class="container my-5">
    <h2 style="font-family: Comic Sans MS", cursive, sans-serif;">About Rate Teh Boba</h2>

        <div class="col-12 mb-4 mt-4">
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">About Us</h4>
                <p class="mb-2">RTB is a review website which was founded in 2020 by Glasgow Students.
                It is a platform for anyone who may be or may not be interested in Boba Tea to write a review
                or browse a review for boba tea cafe. </p>
        </div>
</div>

{% endblock %}
