{% extends "rating/base.html" %}
{% block content%}
<div class="container my-5">
    <h2 style="font-family: Comic Sans MS", cursive, sans-serif;">About Rate Teh Boba</h2>

        <div class="col-12 mb-4 mt-4">
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">About Us</h4>
                <p class="mb-2">Rate Teh Boba is a review website which was founded in 2020 by Glasgow Students.
                The website has food and culinary guides and pictures, along with user-generated reviews of bubble tea cafe. </p>
                <p class="mb-2">Unlike the bubble tea trend in asia, in europe, bubble tea just started to gaining in popularity now.
                Many europeans have heard of bubble tea, however they just couldn't find the best brand or place to drink their first cup!
                Here comes to our mind for creating Rate Teh Boba.</p>
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">Our Goals</h4>
            <p class="mb-2">Our goals are to let user browse or write reviews for bubble tea cafe around the world. Also, to help entrepreneur
                who interested to invest in opening up bubble tea cafe by viewing the reviews! </p>
        </div>
</div>

{% endblock %}
