{% extends "rating/base.html" %}
{% block content%}
<div class="container my-5">
    <h2 style="font-family: Comic Sans MS", cursive, sans-serif;">Contact Rate Teh Boba</h2>

        <div class="col-12 mb-4 mt-4">
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">Email</h4>
                <address><a href="mailto:ratetehboba@website.com" class="mb-2">ratetehboba@website.com</a></address>
        </div>

        <div class="col-12 mb-4 mt-4">
            <h4 class="mb-2" style = "border-top:1px solid #bdc3c7;padding-top: 1em; font-family: Comic Sans MS", cursive, sans-serif;">Phone Number</h4>
                <address><a href="tel:+441234567890" class="mb-2">+441234567890</a></address>
        </div>

        <div class="col-12 mb-4 mt-4">
            <h4 class="mb-2" style = "border-top:1px solid #bdc3c7;padding-top: 1em; font-family: Comic Sans MS", cursive, sans-serif;">Address</h4>
                <p class="mb-2">135 Dumbarton Rd, Partick, Glasgow G11 6PR, United Kingdom</p>
        </div>

</div>

{% endblock %}
