{% extends "rating/base.html" %}
{% block content%}
<div class="container my-5">
    <h2 style="font-family: Comic Sans MS", cursive, sans-serif;">Frequently Asked Questions</h2>

        <div class="col-12 mb-4 mt-4">
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">Why should I use this site?</h4>
                <p class="mb-2">RTB does not deal with services outside of boba tea. This is what makes it from
                    other feedback aggregators like Google Maps or Yelp. We are solely focused on boba to focus
                    on the needs of boba shop owners and boba enthusiasts alike.</p>
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">What is boba tea?</h4>
                <p class="mb-2">Bubble tea is a Taiwanese tea-based drink invented in Tainan and Taichung in the 1980s.
                    Recipes contain tea of some kind, flavors of milk, and sugar. Toppings, known as "pearls", such as
                    chewy tapioca balls, popping boba, fruit jelly, grass jelly, agar jelly, alovera jelly,
                    sago and puddings are often added. </p>
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">Are you a public company?</h4>
                <p class="mb-2">Ratetehboba is a nonprofit organization started by boba lovers for
                boba lovers. We do not sell ads and have no revenue.</p>
        </div>
</div>

{% endblock %}
