{% extends "rating/base.html" %}
{% load staticfiles %}
{% block content%}
<section class = "banner">
    <div class="banner-content">

        <h1>The best teh boba in town</h1>
        <div class='search-box'>
            <form action = "{% url 'search' %}"
                  method = "GET"
                  value = "{{ request.GET.search }}">
                <input class = 'search-txt'
                       name = 'search'
                       type = 'text'
                       value = '{{ request.GET.search }}'
                       placeholder="Which teh boba do you want to drink?">
                <button
                   class = 'search-button'
                   name="submit"
                   type="submit"
                   value="Search">SEARCH</button>
            </form>
        </div>
    </div>
</section>
<div class="container my-5">
    <h2 style="font-family: Comic Sans MS", cursive, sans-serif;">Latest Listings</h2>
    <div class="row">
        {% for c in cafe %}
        <div style="float: left;width: 25%;padding: 5px;" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a href="{% url 'cafe-detail' c.slug %}"><img src="{{ c.image.url }}" alt="Cafe"
                                                       style="width:100%; height:200px; border-radius: 5px"></a>
            <div class="signpost">{{ c.city }}</div>
            <h4><a href="{% url 'cafe-detail' c.slug %}">{{ c.title }}</a></h4>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

