{% extends "rating/base.html" %}
{% load staticfiles %}
{% block content%}
<section class = "banner">
    <div class="banner-content">

        <h1>The best teh boba in town</h1>
        <div class='search-box'>
            <input class = 'search-txt' name = '' placeholder="Which teh boba do you want to drink?">
            <a href="#" class = 'search-button'>SEARCH</a>
        </div>
    </div>
</div>
</section>
<div class="container my-5">
    <h2>Lastest Listings</h2>
    <div class="row">
        <div style="float: left;width: 25%;padding: 5px;">
            <a href="#"><img src="{% static 'images/machi.jpg' %}" alt="Machi Machi" style="width:100%; height:180px; border-radius: 5px"></a>
            <div class="signpost">City of London</div>
            <h4><a href="#">Machi Machi</a></h4>
        </div>
        <div style="float: left;width: 25%;padding: 5px;">
            <a href="#"><img src="{% static 'images/Koi.jpg' %}" alt="Koi" style="width:100%; height:180px; border-radius: 5px"></a>
            <div class="signpost">Singapore</div>
            <h4><a href="#">Koi</a></h4>
        </div>
        <div style="float: left;width: 25%;padding: 5px;">
            <a href="#"><img src="{% static 'images/yifang.jpg' %}" alt="Yi Fang" style="width:100%; height:180px; border-radius: 5px"></a>
            <div class="signpost">Glasgow</div>
            <h4><a href="#">Yi Fang</a></h4>
        </div>
        <div style="float: left;width: 25%;padding: 5px;">
            <a href="#"><img src="{% static 'images/xingfutang.jpg' %}" alt="Xing Fu Tang" style="width:100%; height:180px; border-radius: 5px"></a>
            <div class="signpost">City of London</div>
            <h4><a href="#">Xing Fu Tang</a></h4>
        </div>
    </div>
</div>
{% endblock %}

