{% extends "rating/base.html" %}
{% load staticfiles %}
{% block content%}
<section class = "banner">
    <div class="banner-content">

        <h1>The best teh boba in town</h1>
        <div class='search-box'>
            <input class = 'search-txt' name = '' placeholder="Which teh boba do you want to drink?">
            <a href="#" class = 'search-button'>SEARCH</a>
        </div>
    </div>
</section>
<div class="container my-5">
    <h2 style="font-family: Comic Sans MS", cursive, sans-serif;">Lastest Listings</h2>
    <div class="row">
        {% for c in cafe %}
        <div style="float: left;width: 25%;padding: 5px;">
            <a href="{% url 'cafe-detail' c.id %}"><img src="{{ c.image.url }}" alt="Cafe" style="width:100%; height:25vh; border-radius: 5px"></a>
            <div class="signpost">{{ c.city }}</div>
            <h4><a href="{% url 'cafe-detail' c.id %}">{{ c.title }}</a></h4>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

