{% extends "rating/base.html" %}
{% block content%}
<div class="container my-5">
    <h2 style="font-family: Comic Sans MS", cursive, sans-serif;">Privacy for Rate Teh Boba</h2>

        <div class="col-12 mb-4 mt-4">
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">Rate Teh Boba's Privacy Policy</h4>
                <p class="mb-2">At Rate Teh Boba, accessible at ratetehboba.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Rate Teh Boba and how we use it. </p>
                <p class="mb-2">If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at ratetehboba@Website.com </p>
                <p class="mb-2">This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Rate Teh Boba. This policy is not applicable to any information collected offline or via channels other than this website. </p>
        </div>
</div>

{% endblock %}
