{% extends "rating/base.html" %}
{% block content%}
<div class="container my-5">
    <h2 style="font-family: Comic Sans MS", cursive, sans-serif;">Terms and Conditions for Rate Teh Boba</h2>

        <div class="col-12 mb-4 mt-4">
            <h4 class="mb-2" style="font-family: Comic Sans MS", cursive, sans-serif;">Rate Teh Boba's terms and conditions</h4>
                <p class="mb-2">These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Rate Teh Boba accessible at ratetehboba@website.com. </p>
                <p class="mb-2">These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions. </p>
                <p class="mb-2">Minors or people below 12 years old are not allowed to use this Website. </p>
        </div>
</div>

{% endblock %}
